.navbar {
    position: relative;
    margin: 0px auto;
    max-width: 320px;
    top: 60px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.navbar a {
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid whitesmoke;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cooking-button:visited,
.distance-button:visited,
.cooking-button,
.distance-button {
    text-decoration: none;
    color: rgb(78, 78, 78);
}
.cooking-button:hover, .distance-button:hover {
    color: black;
}
.navbar .cooking-button.active {
    background-color: rgb(164, 164, 211);
    color: white;
}
.navbar .distance-button.active {
    background-color: rgb(214, 168, 168);
    color: white;
}
.navbar a.active:hover {
    opacity: 0.9;
}




